<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NAP-GSP</title>
    <script src="assets/js/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/jcarousel/jquery.jcarousel.min.js"></script>
    <script src="assets/js/leaflet/leaflet.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/country-map.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/js/leaflet/leaflet.css">
</head>
<body>
    <header>
        <div id="main-menu">
            <div class="container">
                <ul id="main-menu-list">
                    <li><a href="home.html">home</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="news.html">news</a></li>
                    <li class="active"><a href="countries.html">countries</a></li>
                    <li><a href="resources.html">resources</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="logo"><img src="../../assets/img/nap-gsp-logo.svg" alt="logo"></div>
        </div>
        <div class="ribbon-wrapper hidden-xs">
            <div class="ribbon-wrapper-green"><a href="#"><div class="ribbon-green">sign up for our newsletter</div></a></div>
        </div>​
    </header>
    <main>
        <div class="content">
            <div class="container">
                <h1>NAP-GSP Countries</h1>
                <div class="row">
                    <div class="sidebar-first col-xs-4">
                        <div class="country-list">
                            <ul>
                                <li>
                                    <img src="http://www.undp-alm.org/sites/default/files/styles/flag/public/bangladesh_flag.gif?itok=9GzCEyVT" alt=""/>
                                    <a href="http://undp-alm.org/projects/bangladesh-nap-process">Bangladesh</a>
                                </li>
                                <li>
                                    <img src="http://www.undp-alm.org/sites/default/files/styles/flag/public/benin_flag.gif?itok=5y_psRPX" alt=""/>
                                    <a href="http://undp-alm.org/projects/benin-nap-process">Benin</a>
                                </li>
                                <li>
                                    <img src="http://www.undp-alm.org/sites/default/files/styles/flag/public/burkina_faso_flag.gif?itok=nRjasbXh" alt=""/>
                                    <a href="http://undp-alm.org/projects/burkina-faso-nap-process">Burkina Faso</a>
                                </li>
                                <li>
                                    <img src="http://www.undp-alm.org/sites/default/files/styles/flag/public/burundi_flag.gif?itok=TdIseR3p" alt=""/>
                                    <a href="http://undp-alm.org/projects/supporting-burundi-advance-their-nap-process">Burundi</a>
                                </li>
                                <li>
                                    <img src="http://www.undp-alm.org/sites/default/files/styles/flag/public/cambodia_flag.gif?itok=orfomrvl" alt=""/>
                                    <a href="http://undp-alm.org/projects/cambodia-nap-process">Cambodia</a>
                                </li>
                                <li>
                                    <img src="http://www.undp-alm.org/sites/default/files/styles/flag/public/central_african_republic_flag.gif?itok=9Zm-8pAK" alt=""/>
                                    <a href="http://undp-alm.org/projects/central-african-republic-car-nap-process">Central African Republic</a>
                                </li>
                                <li>
                                    <img src="http://www.undp-alm.org/sites/default/files/styles/flag/public/comoros_flag.gif?itok=slqTHfd7" alt=""/>
                                    <a href="http://undp-alm.org/projects/comoros-nap-process">Comoros</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main col-xs-8">
                        <div id="country-map"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="logo-heading">
                Proudly Supported By
            </div>
            <div class="clearfix"></div>
            <div id="logo-list">
                <div class="row top">
                    <div class="logo-container undp"><img src="assets/img/logos/undp.svg" /></div>
                    <div class="logo-container unep"><img src="assets/img/logos/unep.svg" /></div>
                    <div class="logo-container gef"><img src="assets/img/logos/gef.svg" /></div>
                    <div class="logo-container unfccc"><img src="assets/img/logos/unfccc.svg" /></div>
                    <div class="logo-container fao"><img src="assets/img/logos/fao.svg" /></div>
                    <div class="logo-container giz"><img src="assets/img/logos/giz.svg" /></div>
                </div>
                <div class="row bottom">
                    <div class="logo-container global-water-partnership"><img src="assets/img/logos/global-water-partnership.svg" /></div>
                    <div class="logo-container unisdr"><img src="assets/img/logos/unisdr.svg" /></div>
                    <div class="logo-container ifad"><img src="assets/img/logos/ifad.svg" /></div>
                    <div class="logo-container who"><img src="assets/img/logos/who.svg" /></div>
                </div>
                <!--<li>UNEP</li>
                <li>GEF</li>
                <li>??</li>
                <li>FAO</li>
                <li>GIZ</li>
                <li>Global Water Partnership</li>
                <li>UNISDR</li>
                <li>IFAD</li>
                <li>WHO</li>-->
            </div>
        </div>
    </footer>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>