<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NAP-GSP</title>
    <script src="assets/js/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/jcarousel/jquery.jcarousel.min.js"></script>
    <script src="assets/js/leaflet/leaflet.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/project-map.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/js/leaflet/leaflet.css">
</head>
<body class="front">
    <header>
        <div id="main-menu">
            <div class="container">
                <ul id="main-menu-list">
                    <li class="active"><a href="home.html">home</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="news.html">news</a></li>
                    <li><a href="countries.html">countries</a></li>
                    <li><a href="resources.html">resources</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="logo"><img src="../../assets/img/nap-gsp-logo.svg" alt="logo"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
        </div>
        <div class="ribbon-wrapper hidden-xs">
            <div class="ribbon-wrapper-green"><a href="#"><div class="ribbon-green">sign up for our newsletter</div></a></div>
        </div>​
    </header>
    <main>
        <div class="region" id="region-home-pg-carousel">
            <div class="container">
                <div class="jcarousel-wrapper">
                    <div class="jcarousel">
                        <ul>
                            <li>
                                <img src="assets/img/samples/img-1.jpg" alt="" />
                                <div class="caption">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                    <div class="btn btn-default">Read More</div>
                                </div>
                            </li>
                            <li>
                                <img src="assets/img/samples/img-2.jpg" alt="" />
                                <div class="caption">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                </div>

                            </li>
                            <li>
                                <img src="assets/img/samples/img-3.jpg" alt="" / >
                                <div class="caption">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                </div>

                            </li>
                            <li>
                                <img src="assets/img/samples/img-4.jpg" alt="" />
                                <div class="caption">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                </div>

                            </li>
                            <li>
                                <img src="assets/img/samples/img-5.jpg" alt="" />
                                <div class="caption">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                </div>

                            </li>
                            <li>
                                <img src="assets/img/samples/img-3.jpg" alt="" />
                                <div class="caption">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                </div>

                            </li>
                        </ul>
                    </div>

                    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                </div>
            </div>
        </div>
        <div class="region" id="region-global-projects">
            <div class="container">
                <h1 class="icon-heading icon-heading-global">NAP-GSP Global Projects</h1>
                <div id="project-map"></div>
            </div>
        </div>
        <div class="region" id="region-resources">
            <div class="container">
                <h1 class="icon-heading icon-heading-resources">Featured Resources</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        National Adaptation Plans - Technical Guidelines for NAP Process
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-2">
                            <img src="assets/img/samples/cover-1.jpg" />
                        </div>
                        <div class="col-sm-10">
                            <p>The Least Developed Countries Expert Group (LEG) technical guidelines are aimed at assisting developing countries to produce their National Adaptation (NAPs) in a comprehensive and strategic manner.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">PROVIA Guidance on Assessing Vulnerability, Impacts and Adaptation to Climate Change</div>
                    <div class="panel-body">
                        <div class="col-sm-2">
                            <img src="assets/img/samples/cover-2.jpg" />
                        </div>
                        <div class="col-sm-10">
                            <p>The PROVIA Guidance, published in November 2013, aims to meet a growing demand for knowledge on climate change vulnerability, impacts and adaptation. It provides clear technical guidance that combines robust science with explicit consideration of user needs at the local, national and international levels, in both developed and developing countries. It is a particularly important resource when preparing National Adaptation Plans.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="region" id="region-events">
            <div class="container">
                <h1>NAP-GSP Events</h1>
                <iframe src="https://calendar.google.com/calendar/embed?src=en.australian%23holiday%40group.v.calendar.google.com&ctz=Australia/Sydney" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <div class="region" id="region-video">
            <div class="container">
                <h1>Videos</h1>
                <div class="video-item row">
                    <div class="col-sm-3">
                        <iframe width="206" height="128" src="https://www.youtube.com/embed/5_hLuEui6ww" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-9">
                        <h4>Video Title</h4>
                        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="video-item row">
                    <div class="col-sm-3">
                        <iframe width="206" height="128" src="https://www.youtube.com/embed/5_hLuEui6ww" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-9">
                        <h4>Video Title</h4>
                        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="logo-heading">
                Proudly Supported By
            </div>
            <div class="clearfix"></div>
            <div id="logo-list">
                <div class="row top">
                    <div class="logo-container undp"><img src="assets/img/logos/undp.svg" /></div>
                    <div class="logo-container unep"><img src="assets/img/logos/unep.svg" /></div>
                    <div class="logo-container gef"><img src="assets/img/logos/gef.svg" /></div>
                    <div class="logo-container unfccc"><img src="assets/img/logos/unfccc.svg" /></div>
                    <div class="logo-container fao"><img src="assets/img/logos/fao.svg" /></div>
                    <div class="logo-container giz"><img src="assets/img/logos/giz.svg" /></div>
                </div>
                <div class="row bottom">
                    <div class="logo-container global-water-partnership"><img src="assets/img/logos/global-water-partnership.svg" /></div>
                    <div class="logo-container unisdr"><img src="assets/img/logos/unisdr.svg" /></div>
                    <div class="logo-container ifad"><img src="assets/img/logos/ifad.svg" /></div>
                    <div class="logo-container who"><img src="assets/img/logos/who.svg" /></div>
                </div>
                <!--<li>UNEP</li>
                <li>GEF</li>
                <li>??</li>
                <li>FAO</li>
                <li>GIZ</li>
                <li>Global Water Partnership</li>
                <li>UNISDR</li>
                <li>IFAD</li>
                <li>WHO</li>-->
            </div>
        </div>
    </footer>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>