<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NAP-GSP</title>
    <script src="assets/js/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/jcarousel/jquery.jcarousel.min.js"></script>
    <script src="assets/js/leaflet/leaflet.js"></script>
    <script src="assets/js/main.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/js/leaflet/leaflet.css">
</head>
<body class="front">
    <main>
        <div class="portal-page">
            <div class="flex-container">
                <div class="image-container">
                    <a href="home.html">
                        <img src="assets/img/samples/sample-1-500x500.jpg" alt=""/>
                        <h4>NAP-GSP</h4>
                    </a>
                </div>
                <div class="image-container">
                    <a href="negotiators.html">
                        <img src="assets/img/samples/sample-2-500x500.jpg" alt=""/>
                        <h4>Global Support Programme - Negotiators</h4>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>