<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NAP-GSP</title>
    <script src="assets/js/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/jcarousel/jquery.jcarousel.min.js"></script>
    <script src="assets/js/leaflet/leaflet.js"></script>
    <script src="assets/js/main.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/js/leaflet/leaflet.css">
</head>
<body>
    <header>
        <div id="main-menu">
            <div class="container">
            </div>
        </div>
        <div class="container">
            <div class="logo"><img src="../../assets/img/nap-gsp-logo.svg" alt="logo"></div>
        </div>
        <div class="ribbon-wrapper hidden-xs">
            <div class="ribbon-wrapper-green"><a href="#"><div class="ribbon-green">sign up for our newsletter</div></a></div>
        </div>​
    </header>
    <main>
        <div class="content">
            <div class="region" id="region-page-content">
                <div class="container">
                    <h1>About NAP-GSP</h1>
                    <div class="row">
                        <div class="col-xs-5 photo">
                            <img src="assets/img/samples/sample-2-800x600.jpg" />
                        </div>
                        <div class="col-xs-7">
                            <h2>Pellentesque in ipsum id orci porta dapibus.</h2>
                            <p>Nulla quis lorem ut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt.</p>
                            <h2>Pellentesque in ipsum id orci porta dapibu</h2>
                            <p>Pellentesque in ipsum id orci porta dapibus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.
                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="logo-heading">
                Proudly Supported By
            </div>
            <div class="clearfix"></div>
            <div id="logo-list">
                <div class="row top">
                    <div class="logo-container undp"><img src="assets/img/logos/undp.svg" /></div>
                    <div class="logo-container unep"><img src="assets/img/logos/unep.svg" /></div>
                    <div class="logo-container gef"><img src="assets/img/logos/gef.svg" /></div>
                </div>
                <!--<li>UNEP</li>
                <li>GEF</li>
                <li>??</li>
                <li>FAO</li>
                <li>GIZ</li>
                <li>Global Water Partnership</li>
                <li>UNISDR</li>
                <li>IFAD</li>
                <li>WHO</li>-->
            </div>
        </div>
    </footer>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>