<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NAP-GSP</title>
    <script src="assets/js/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/jcarousel/jquery.jcarousel.min.js"></script>
    <script src="assets/js/leaflet/leaflet.js"></script>
    <script src="assets/js/main.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/js/leaflet/leaflet.css">
</head>
<body>
    <header>
        <div id="main-menu">
            <div class="container">
                <ul id="main-menu-list">
                    <li><a href="home.html">home</a></li>
                    <li><a href="about.html">about</a></li>
                    <li class="active"><a href="news.html">news</a></li>
                    <li><a href="countries.html">countries</a></li>
                    <li><a href="resources.html">resources</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="logo"><img src="../../assets/img/nap-gsp-logo.svg" alt="logo"></div>
        </div>
        <div class="ribbon-wrapper hidden-xs">
            <div class="ribbon-wrapper-green"><a href="#"><div class="ribbon-green">sign up for our newsletter</div></a></div>
        </div>​
    </header>
    <main>
        <div class="content">
            <div class="region">
                <div class="container">
                    <h1>News</h1>
                    <div class="row">
                        <div class="col-xs-5 photo">
                            <img src="assets/img/samples/sample-800x600.jpg" />
                        </div>
                        <div class="col-xs-7">
                            <h2>Pellentesque in ipsum id orci porta dapibus.</h2>
                            <p>Nulla quis lorem ut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt.</p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="region" id="region-recent-news">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href>
                                <div class="content-box photo-box caption-bottom highlight-1">
                                    <img src="http://lorempixel.com/500/375/nature">
                                    <p>Donec vitae sapien ut libero venenatis faucibus ac dui quis mi consectetuer vitae sapien ut libero venenatis faucibus.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href>
                                <div class="content-box photo-box caption-bottom highlight-1">
                                    <img src="http://lorempixel.com/500/375/nature">
                                    <p>Donec vitae sapien ut libero venenatis faucibus ac dui quis mi consectetuer vitae sapien ut libero venenatis faucibus.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href>
                                <div class="content-box photo-box caption-bottom highlight-1">
                                    <img src="http://lorempixel.com/500/375/nature">
                                    <p>Donec vitae sapien ut libero venenatis faucibus ac dui quis mi consectetuer vitae sapien ut libero venenatis faucibus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="other-news">
                        <h3>More News</h3>
                        <ul>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="">Nulla quis lorem ut libero malesuada feugiat.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                            <li><a href="">Praesent sapien massa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="logo-heading">
                Proudly Supported By
            </div>
            <div class="clearfix"></div>
            <div id="logo-list">
                <div class="row top">
                    <div class="logo-container undp"><img src="assets/img/logos/undp.svg" /></div>
                    <div class="logo-container unep"><img src="assets/img/logos/unep.svg" /></div>
                    <div class="logo-container gef"><img src="assets/img/logos/gef.svg" /></div>
                    <div class="logo-container unfccc"><img src="assets/img/logos/unfccc.svg" /></div>
                    <div class="logo-container fao"><img src="assets/img/logos/fao.svg" /></div>
                    <div class="logo-container giz"><img src="assets/img/logos/giz.svg" /></div>
                </div>
                <div class="row bottom">
                    <div class="logo-container global-water-partnership"><img src="assets/img/logos/global-water-partnership.svg" /></div>
                    <div class="logo-container unisdr"><img src="assets/img/logos/unisdr.svg" /></div>
                    <div class="logo-container ifad"><img src="assets/img/logos/ifad.svg" /></div>
                    <div class="logo-container who"><img src="assets/img/logos/who.svg" /></div>
                </div>
                <!--<li>UNEP</li>
                <li>GEF</li>
                <li>??</li>
                <li>FAO</li>
                <li>GIZ</li>
                <li>Global Water Partnership</li>
                <li>UNISDR</li>
                <li>IFAD</li>
                <li>WHO</li>-->
            </div>
        </div>
    </footer>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>